#header {
    text-align: center;
    color: red;
    background-color: rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 3em; /* lub inny rozmiar, np. 36px */
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ADD8E6;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkslategrey;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    border: 1px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    margin: 0;
    padding: 0;
    border: none;
}

footer p {
    text-align: center;
    font-style: italic;
    color: white;
}

button {
    position: absolute;
    transform: translate(-50%, -50%);
    display: block;
    margin-bottom: 10px;
    width: 100px;
    border-radius: 0;
    background-color: rosybrown;
    font-size: 1.15em;
}

#start-button {
    top: calc(50% - 80px);
    left: 33.33%;
}

#undo-button {
    top: calc(50% - 40px);
    left: 33.33%;
}

#pause-button {
    top: calc(50% + 40px);
    left: 33.33%;
}

#resume-button {
    top: calc(50% + 80px);
    left: 33.33%;
}

#mute-button {
    top: calc(50% + 120px);
    left: 33.33%;
}

#stats {
    position: absolute;
    right: 33.33%;
    top: calc(50%);
    transform: translate(50%, -50%);
}

#stats span {
    font-size: 1.25em;
    font-weight: bold;
    color: red;
}

#time {
    position: absolute;
    top: +80%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
}

#players {
    position: absolute;
    top: +13.5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2em;
}

#players input {
    color: darkred;
    background-color: rosybrown;
}

#options > *:not(button) {
    font-size: 1.5em;
    width: 65px;
    text-align: center;
    margin-top: 7%;
}

label {
    margin-left: 25%;
}

#board-size {
    background-color: rosybrown;
}

#first-player {
    background-color: rosybrown;
}

#background-music {
    display: none;
}