body
{
    margin: 0;
    padding: 0;
}
nav
{
    padding: 20px;
    position: fixed;
    top:0;
    opacity: .8;
    background-color: black;
    width: 100vw;
}
header
{
    background-image: url("image/las.jpg");
    background-size: cover;
    height: 40vh;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1
{
    margin-bottom: 1em;
}
h2
{
    text-align: center;
    width: 50vw;
}
ol
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}
li
{
    color: white;
    opacity: 1;
}
main
{
    max-width: 1000px;
    margin:50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content:space-around;
    align-items:baseline;
    gap:20px;
}
.card_header
{
    height: 50%;
    background-color: #8e9074;
}
.date
{
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    position: relative;
    bottom:10px;
    right:10px;
    color:#cfd0c5;
}
.card
{
    width: 30%;
    height: 400px;
    box-shadow: 0 0 5px 1px lightgray;
    flex-grow:2;
}
.card_body
{
    padding: 20px;
}
.card_body p
{
    padding-top: 20px;
    text-align: justify;
}