body
{
    box-sizing: border-box;
    background-color: #eee;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items:stretch;
    flex-direction:column;
    justify-content: flex-end;
    border:20px solid lightgray;
}
div
{
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    min-width: calc(100vw - 60px);
    color:white;
}
#div0{background-color: rosybrown;}
#div1{background-color: darkgreen;}
#div2{background-color: pink;}
#div3{background-color: darkgray;}
#div4{background-color: yellow;}
#div5{background-color: lawngreen;}
#div6{background-color: brown;}
#div7{background-color: deepskyblue;}
#div8{background-color: darkorange;}
#div9{background-color: sandybrown;}